


#main_items {
    width: auto;
    height: auto;
    padding: 10px;
    border: 0px solid blue;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-items: center;
  }
  
  #main_items div{
    justify-content: center;
   align-items: center;
   text-align: center;
    border: 1px solid whitesmoke;
    gap: 10px;
    width: 90%;
    height: auto;
  }


  #buttons{
    border: 1px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    size: 70px;
}
#sorting{
  border: 1px solid whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  size: 70px;
  margin-bottom: 30px;
}