#navbar{
    display: flex;
        height: 60px;
        color: white;
        background-color: grey;
        border: 1px solid black;
        justify-content:  space-between;
        align-items: center;
        padding: 30px;
    }
    
    
    #navbar a{
        color: white;
        text-decoration: none;
    }
    
    
    
    